<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doing.src.dao.credential.FinanceSubjectMapper">
  <resultMap id="BaseResultMap" type="com.doing.src.entity.credential.FinanceSubject">
    <id column="subject_id" jdbcType="VARCHAR" property="subjectId" />
    <result column="subject_title" jdbcType="VARCHAR" property="subjectTitle" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="subject_dt" jdbcType="TIMESTAMP" property="subjectDt" />
  </resultMap>
  <sql id="Base_Column_List">
    subject_id,subject_title,admin_id,subject_dt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finance_subject
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from finance_subject
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.doing.src.entity.credential.FinanceSubject">
    insert into finance_subject (subject_id, subject _title, admin_id, 
      subject _dt)
    values (#{subjectId,jdbcType=VARCHAR}, #{subjectTitle,jdbcType=VARCHAR}, #{adminId,jdbcType=VARCHAR}, 
      #{subjectDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.doing.src.entity.credential.FinanceSubject">
    insert into finance_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="subjectTitle != null">
        subject_title,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="subjectDt != null">
        subject_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="subjectTitle != null">
        #{subjectTitle,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="subjectDt != null">
        #{subjectDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doing.src.entity.credential.FinanceSubject">
    update finance_subject
    <set>
      <if test="subjectTitle != null">
        "subject _title" = #{subjectTitle,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="subjectDt != null">
        "subject _dt" = #{subjectDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doing.src.entity.credential.FinanceSubject">
    update finance_subject
    set "subject _title" = #{subjectTitle,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=VARCHAR},
      "subject _dt" = #{subjectDt,jdbcType=TIMESTAMP}
    where subject_id = #{subjectId,jdbcType=VARCHAR}
  </update>
  
   <select id="selectAll"  resultMap="BaseResultMap">
    select 
     <include refid="Base_Column_List" />
    from finance_subject
    limit #{page},#{limit}
  </select>
   <select id="selectBySearchCount"  resultType="INTEGER">
    select count(*)
    from finance_subject
  </select>
</mapper>