<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytw1.dao.User.finance_credentialMapper">
  <resultMap id="BaseResultMap" type="com.ytw1.entity.User.finance_credential">
    <id column="credential_id" jdbcType="VARCHAR" property="credentialId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="credential_title" jdbcType="VARCHAR" property="credentialTitle" />
    <result column="credential_content" jdbcType="VARCHAR" property="credentialContent" />
    <result column="subject_id" jdbcType="VARCHAR" property="subjectId" />
    <result column="credential_count" jdbcType="VARCHAR" property="credentialCount" />
    <result column="credential_dt" jdbcType="TIMESTAMP" property="credentialDt" />
  </resultMap>
  <sql id="Base_Column_List">
    credential_id, user_name, admin_id, credential_title, credential_content, subject_id, 
    credential_count, credential_dt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finance_credential
    where credential_id = #{credentialId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from finance_credential
    where credential_id = #{credentialId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ytw1.entity.User.finance_credential">
    insert into finance_credential (credential_id, user_name, admin_id, 
      credential_title, credential_content, subject_id, 
      credential_count, credential_dt)
    values (#{credentialId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{adminId,jdbcType=VARCHAR}, 
      #{credentialTitle,jdbcType=VARCHAR}, #{credentialContent,jdbcType=VARCHAR}, #{subjectId,jdbcType=VARCHAR}, 
      #{credentialCount,jdbcType=VARCHAR}, #{credentialDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ytw1.entity.User.finance_credential">
    insert into finance_credential
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="credentialId != null">
        credential_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="credentialTitle != null">
        credential_title,
      </if>
      <if test="credentialContent != null">
        credential_content,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="credentialCount != null">
        credential_count,
      </if>
      <if test="credentialDt != null">
        credential_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="credentialId != null">
        #{credentialId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="credentialTitle != null">
        #{credentialTitle,jdbcType=VARCHAR},
      </if>
      <if test="credentialContent != null">
        #{credentialContent,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="credentialCount != null">
        #{credentialCount,jdbcType=VARCHAR},
      </if>
      <if test="credentialDt != null">
        #{credentialDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytw1.entity.User.finance_credential">
    update finance_credential
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="credentialTitle != null">
        credential_title = #{credentialTitle,jdbcType=VARCHAR},
      </if>
      <if test="credentialContent != null">
        credential_content = #{credentialContent,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="credentialCount != null">
        credential_count = #{credentialCount,jdbcType=VARCHAR},
      </if>
      <if test="credentialDt != null">
        credential_dt = #{credentialDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where credential_id = #{credentialId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytw1.entity.User.finance_credential">
    update finance_credential
    set user_name = #{userName,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=VARCHAR},
      credential_title = #{credentialTitle,jdbcType=VARCHAR},
      credential_content = #{credentialContent,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=VARCHAR},
      credential_count = #{credentialCount,jdbcType=VARCHAR},
      credential_dt = #{credentialDt,jdbcType=TIMESTAMP}
    where credential_id = #{credentialId,jdbcType=VARCHAR}
  </update>
</mapper>